{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class='col-10 col-md-4 mx-auto'>
    <h1> {{ title }} </h1>
    {% if description %}
    <p> {{ description }} </p>
    {% endif %}
    
<form method='POST' novalidate> {%csrf_token %}
    <div class="row">
        <div class="col-6">
          {{ form.first_name|as_crispy_field }}
        </div>
        <div class="col-6">
          {{ form.last_name|as_crispy_field }}
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          {{ form.email|as_crispy_field }}
        </div>
        <div class="col-6">
          {{ form.location|as_crispy_field }}
        </div>
      </div>
      {{ form.bio|as_crispy_field }}
    <button type='submit' class='btn btn-secondary' >{% if btn_label %} {{ btn_label }} {% else %}Save {% endif %}</button>

</form>
</div>
{% endblock content %}