{% extends 'base.html' %}
{% load static %}

{% block content %}

    <div class="container">
      <div class="row">
        <!-- Latest Posts -->
        <main class="posts-listing col-lg-8"> 
          <div class="container">
            <div class="row">
              <!-- post per comprendere le definizioni dentro {{...}} gurada models -->
              {% for text in queryset %}
              {% if text.firstchapter or text.copy %}
              <div class="post col-xl-4">
                <div class="post-details">
                  <div class="post-meta d-flex justify-content-between">
                    <!-- <div class="date meta-last">20 May | 2016</div> -->
                  <div class="category"> 
                    {% for cat in text.categories.all %}
                    <a href="#">{{ cat }}</a>
                    {% endfor %}
                  </div>
                  </div><a href="/{{ text.id }}/visualize/">
                    <h3 class="h4">{{ text.title }}</h3>
                    <hr>
                    <h3 class="h4">{{ text.author }}</h3>
                    <!-- <p class="text-muted">{{ text.text|slice:":101" }}...</p></a> -->
                  <footer class="post-footer d-flex align-items-center">
                    <a href="#" class="author d-flex align-items-center flex-wrap">
                    <span class="title">{{ text.user.username }}</span></a>
                    <span class="title">Chapter: {{ text.chapter }}</span>
                  </footer>
                  <div class='btn-group'>
                    <a type='button' class='btn btn-sm btn-outline-secondary' href="/{{ text.id }}/edit">Edit</a>
                    <a type='button' class='btn btn-sm btn-outline-secondary' href="/{{ text.id }}/update">Update</a>
                    <a type='button' class='btn btn-sm btn-outline-secondary' href="/{{ text.id }}/delete">Delete</a>
                  </div>
                  <!-- <div class="date"><i class="icon-clock"></i>{{ text.timestamp|timesince }} ago</div> -->
                </div>
              </div>
              {% endif %}
              {% endfor %}
            </div>
            <!-- Pagination -->
            <nav aria-label="Page navigation example">
              <ul class="pagination pagination-template d-flex justify-content-center">
                {% if queryset.has_previous %}
                <li class="page-item"><a href="?{{ page_request_var }}={{ queryset.previous_page_number }}" class="page-link"> <i class="fa fa-angle-left"></i></a></li>
                {% endif %}
                <li class="page-item"><a href="?{{ page_request_var }}={{ queryset.number }}" class="page-link active">{{ queryset.number }}</a></li>
                {% if queryset.has_next %}
                <li class="page-item"><a href="?{{ page_request_var }}={{ queryset.next_page_number }}" class="page-link"> <i class="fa fa-angle-right"></i></a></li>
                {% endif %}
              </ul>
            </nav>
          </div>
        </main>
        {% include 'pages/sidebar.html' with most_recent=most_recent category_count=category_count %}
      </div>
    </div>
{% endblock content %}