{% extends 'base.html' %}
{% load static %}
{% block content %}
<main>
  <div class="navbar navbar-inverse navbar-fixed-top">
      
    <div id="navigation" class="container-fluid">
      <div style="width: 100%;">
        <input id="labelpresperf" type="button" value="PresPerf" style="background-color: blue; color: #fff; text-transform: uppercase; font-weight: bold;"/>
        <input id="labelpastperf" type="button" value="PastPerf" style="background-color: pink; color: #fff; text-transform: uppercase; font-weight: bold;"/>
        <input id="labelpresperfprogr" type="button" value="PresPerfProgr" style="background-color: red; color: #fff; text-transform: uppercase; font-weight: bold;"/>
        <input id="labelpastperfprogr" type="button" value="PastPerfProgr" style="background-color: purple; color: #fff; text-transform: uppercase; font-weight: bold;"/>
        <input id="labelprogressive" type="button" value="Progr" style="background-color: grey; color: #fff; text-transform: uppercase; font-weight: bold;"/>
        <input id="labelconditional" type="button" value="Conditional" style="background-color: lightseagreen; color: #fff; text-transform: uppercase; font-weight: bold;"/>
        <input id="labelfuture" type="button" value="Future" style="background-color: green; color: #fff; text-transform: uppercase; font-weight: bold;"/>
        <input id="labelpassive" type="button" value="Passive" style="background-color: goldenrod; color: #fff; text-transform: uppercase; font-weight: bold;"/>
        
      </div>
      <input id="btnespr" type="button" value="Espr" style="background-color: orangered; color: #fff; text-transform: uppercase; font-weight: bold;"/>
      <button type="button" id="Mybtn" class="btn">REMOVE UNDERLINE</button>
      <input id="btnphr" type="button" value="Phr" style="background-color: salmon; color: #fff; text-transform: uppercase; font-weight: bold;"/>
      <br/>
          
    </div>
  </div>
  
{% include "pages/view.html" with text_id=text_id %}
{% include "pages/side_view.html" with text_id=text_id %}


{% endblock content %}