<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="text" style="text-align: justify;">
        Burke’s attack on the ‘metaphysical abstractions’ on which the evolving Revolution in France was based, and his
related challenge to British apologists for the French experiment, were readily taken up. Burke had extended his 
criticism to include comment on the Constitutional Society and the Revolution Society, both of them radical clubs 
supported largely by religious Nonconformists, men who saw themselves as direct heirs to the spirit of the 
seventeenth-century English Revolution and as victims of discriminatory laws. Prominent amongst members were the Unitarian minister, Richard Price (1723-91) (who had actually provoked Burke’s riposte by preaching a sermon on the need to apply French lessons to Britain),
and a fellow Unitarian, the chemist, Joseph Priestley (1733-1804) (who had his house wrecked by a Birmingham mob
as a result of attempting to celebrate the anniversary of the Fall of the Bastille in 1791). Amongst the most committed
of these radicals, in terms of both his writings and his actions, was the independent republican, Thomas Paine (1737-
1809). Paine’s support for both the American and the French Revolutions had made him friends in these
revolutionary nations and powerful enemies at home (his books were burned by the Public Hangman, but, having been
obliged to flee to Paris in 1792, he was granted the privilege of French citizenship). Paine’s acclaim in Jacobin France
was largely based on his reputation as the trouncer of the tyrant-loving Burke in his book The Rights of Man (1791,
1792). If his book lacks the elegance and the systematic argument of Burke’s, its attack upholds a new faith in
constitutionally defined rights and liberties and renders much of Burke’s creaking pragmatism ridiculous. The
‘poison’ of Burke’s ‘horrid principles’ is countered by a delineation of a despotism which extends beyond the person
of a king into ‘every office and department’ whose petty reflections and abuses of royal power are founded on ‘custom
and usage’.

The circulation of The Rights of Man through a chain of British and Irish radical clubs openly sympathetic to
France (and therefore increasingly hostile to the existing British Constitution) may well have reached hundreds of
thousands. Paine’s active political career in France was less propitious. It was while in prison (and under the shadow
of the guillotine from which he was released only by the fall of Robespierre) that he completed what was once his
most notorious work, The Age of Reason (1794-6). Here the ‘age of Revolutions’ bears a post-Voltairean and post
Jeffersonian fruit, one poisonous to Christianity and atheism alike. The ‘Cult of the Supreme Being’, propagated in
Jacobin France, is developed with a no-nonsense English thrust quite free of Robespierre’s posturing and ritualizing.
Paine dedicated his tract to his ‘fellow-citizens of the United States of America’, but his blunt arguments have
implications well beyond the Quaker libertarianism of Franklin or the non-sectarian aspirations of the American
Constitution. Paine proclaims his theism and a faith in a broad egalitarian morality of ‘doing justice, loving mercy,
and endeavouring to make our fellow-creatures happy’. He rejects all forms of established, defined, or ‘revealed’
religion by treating the nature of ‘revelation’ as if it were little more than hearsay. Scriptural authority is disposed of
with much the same verve. The books of the Old Testament are dismissed as a collection of ‘obscene stories ... 
voluptuous debaucheries ... cruel and torturous executions and unrelenting
vindictiveness’. The Gospels strike him as merely anecdotal mystifications. ‘The Word of God’, he proclaims in
capital letters, ‘IS THE CREATION WE BEHOLD’, and God himself stands for ‘moral truth’ not ‘mystery or obscurity’.
William Godwin (1756-1836), born into a strong Dissenting tradition, abandoned both his Calvinist theology and
his Congregationalist ministry in 1783 and assumed the alternative career of journalist and pamphleteer. His interest
in both the dissidence of Dissent and contemporary political developments led to his active participation in the debates
of the Constitutional Society. In 1789 he formed part of the congregation that heard Richard Price’s ‘Discourse on the
Love of our Country’ and he was sufficiently provoked by Burke’s response to it to begin work on what became his
own treatise, the Enquiry Concerning Political Justice (1793). The Enquiry is Godwin’s most systematic theoretical
work. He views human happiness and social well-being as the sole purpose of existence, but unlike Rousseau (whose
influence pervades the work) he looks forward to a gradual melting away of all government to be replaced by a new
system of radical anarchy. A rigid adherence to the leading principle of reason is substituted for Rousseau’s cult of
sensibility and his innate religiosity. Law, government, property, inequality, and marriage would be abolished as part
of a gradual process by which human perfectibility, conditioned by human reason, would transcend existing
limitations and impediments to fulfilled happiness.
Godwin’s revolutionary hatred of all forms of injustice, privilege, and political or religious despotism also informs
his novel, Things as They Are or, the Adventures of Caleb Williams (1794), a narrative centred on the problems of
class perception and the nature of oppression. Godwin is less concerned with the authority of the state and more with
the relatively petty, but no less damaging, exercise of power by a privileged class. ‘It is now known to philosophers’,
he remarks in his Preface to the novel, ‘that the spirit and the character of government intrudes itself into every rank
of society’, a factor exemplified in the story by the pervasive tyranny of a landowner, the once well-meaning Falkland.
Falkland’s tentacles are observed catching at the novel’s hero, Caleb Williams, at every turn. Imprisoned by one of his
persecutor’s many contrivances, Caleb exclaims against the false assumption that England has no Bastille: ‘Is that a
country of liberty where thousands languish in dungeons and fetters? Go, go, ignorant fool! and visit the scenes of our
prisons! witness their unwholesomeness, their filth, the tyranny of their governors, the misery of their inmates!’ Such
rhetoric forms part of a series of counterblasts to the complacent upholders of the idea of the free-born Englishman. If
Caleb fails finally to confront his persecutor in public, a failure which he regrets, he is no passive victim. His escapes
from confinement, his disguises, wanderings, and abortive attempts to flee from England, give the novel something of
the quality of an adventure story, but his understanding of his predicament, and his articulation of this understanding 
as a critique of the existing ills of society, give his narrative a truly radical bite. At the opening
of his story the narrator identifies Falkland’s attraction to the principles of chivalry. In concluding his memoirs, Caleb
returns to the issue. Chivalry has, he claims, served to corrupt a noble mind and perverted ‘the purest and most
laudable intentions’. The survival, or worse, the revival of aristocratic codes, it is suggested, works both as a disguise
to, and a justification of, class-oppression.

Mary Wollstonecraft’s Vindication of the Rights of Man (1790) also forms a protest against Burke’s nostalgia for
the age of chivalry by ridiculing defunct, upper-class codes of behaviour. But her treatise goes beyond a mere attack
on a system of aristocratic values which keep the greater proportion of humankind in subservience. For Wollstonecraft
(1759-97), that greater part of humankind embraced the thraldom of women of all classes. Wollstonecraft was the
most articulate of a small group of writers, all of them associated with Godwin’s circle, who used fiction to propagate
certain key aspects of the new revolutionary ideology. This group included two other women writers, Mary Hays
(1760-1843), the author of Memoirs of Emma Courtney (1796), and Elizabeth Inchbald (1753-1821) whose novel A
Simple Story appeared in 1791. Hays’s Emma Courtney is ‘a human being, loving virtue’, but one ‘enslaved by
passion; liable to the mistaken weaknesses of our fragile nature’, and hers is a story of unhappy and unrequited love
and of a suffering accentuated by a character insufficiently disciplined by education. Hays’s later work includes the six
volumes of Female Biography, or Memoirs of Illustrious and Celebrated Women of all Ages and Countries (1803).
Inchbald’s A Simple Story scarcely reveals itself now as a work of political or sexual radicalism, concerned as it is
with a quiescent English Roman Catholic family, but it does manage to assert the pressing need for women’s
education in order to respond to a stifling lack of fulfilment. Inchbald’s later literary career included the novel Nature
and Art (1796), two unperformed dramas set in revolutionary France, and a string of comedies, one of which, a
version of Kotzebue's Lovers’ Vows of 1798, is the play disastrously rehearsed in Jane Austen’s Mansfield Park.
The modest fiction of Hays and Inchbald shows a concern with the inconsistencies, limitations, and shortcomings
of a contemporary society, but neither writer possessed the fire and the outspoken feminist zeal apparent in
Wollstonecraft’s flawed, rancorous, polemical, and radically original novels. Both Mary (1788) and the unfinished
The Wrongs of Woman (1798) deal with the evidence of a universal oppression of women by men. Mary is told in an
unadorned, laconic, matter-of fact way, a style which, despite its periodic recourse to irony, might almost be described
as perfunctory. The narrative touches on a variety of issues which figure prominently in ‘Romantic’ literature, notably
on the significance of the imagination, the nature of religious feeling, and the soul-expanding effects of travel, and it
interestingly opposes the emotional security of female friendship to a loveless marriage and an unfulfilled love-affair,
but it is ultimately a tragedy without real substance. 

The Wrongs of Woman is a far more persuasive polemic concerning the need for a public recognition of women’s rights. It
is also a more impressive, if equally restless, work of fiction. Its heroine, Maria, is in many ways a development from
the suffering Mary. She is acutely sensitive to landscape and ambience, but her Rousseauistic musings are balanced by
her rejection of intellectual passivity and the kind of decorous feeling in which Rousseau himself (‘the Prometheus of
sentiment’) patronizingly limited women’s perceptions. Maria is also alert to ‘the present state of society and government’ 
and to what she sees as the ‘enslaved state of the labouring majority’. To her alertness she adds the
experience of thraldom within a loveless marriage. The novel opens with her literal imprisonment in a rambling
madhouse, Gothic both in its architecture and in its frissons. The unhappy state of her suffering sisters is brought
home to her through the melancholy catalogue of male oppression that she hears from her fellow inmates. If Maria’s
spirits are temporarily raised by the contemplation of Italy and ‘the heart-enlarging virtues of antiquity’, it gradually
becomes clear that she is most inspired by the new virtues of revolutionary France. The judge who systematically
rejects her pleas for independence and for the enjoyment of her own fortune recognizes that her motivation is, to him,
a gross parody of all demands for political change. ‘We do not want French principles in public or private life’, he
asserts in the novel’s last completed chapter, ‘and, if women were allowed to plead their feeling, as an excuse or
palliation of infidelity, it was opening a flood-gate for immorality’.

Wollstonecraft’s most effective attempt to prize open the flood-gates remains her highly influential treatise A
Vindication of the Rights of Woman (1792), an adaptation and remoulding of French revolutionary theory to the
universal needs of women. It is dedicated to a French hero of the moment, the ex-Bishop and singularly devious
statesman, Talleyrand. This dedication sets out the nub of the argument of the treatise as a whole: ‘If woman be not
prepared by education to become the companion of man, she will stop the progress of knowledge and virtue.’ ‘Who
made man the exclusive judge’, Wollstonecraft demands, ‘if woman partake with him the gift of reason?’ Her book is
centred on these twin appeals to education and to reason: education to render the further subjection of women
indefensible and reason applied to all future questions of gender. The relevance of her argument to contemporary
political debate is carefully indicated by comparisons of the particular enslavement of humankind by tyrannical kings
to the general enslavement of women by universally tyrannical men. In Louis XIV’s France, she asserts in her fourth
chapter, a nation and a sex were forced into a subjection which was disguised by a picturesque cloak of chivalric
flattery. Similarly, in the ninth chapter, she complains of ‘the pernicious effects which arise from the unnatural
distinctions established in society’, distinctions which divide nations into classes and ranks and which serve to deny
both dignity and liberty to the suffering majority. The new order in France, she implies, has a vital relevance to all
future attempts to define relationships between class and class, gender and gender.

Independent-minded women figure prominently in the novels of two further members of the Godwin circle, Robert
Bage (1728-1801) and Thomas Holcroft (1745-1809). In the work of both writers, however, it is men who assume the
burden of the fictional argument. Bage, a Midlands industrialist, wrote six novels, the last two of which, Man as He Is
(1792) and Hermsprong, or Man as He is Not (1796), show the clearest evidence of the impact of revolutionary
thought. Bage’s earlier works are variously concerned with the prospects of regenerated humanity in communities
freed of pretension and extravagance. In Man as He Is, however, he traces the moral growth of Sir George Paradyne,
a young man torn between hedonism and earnest practicality, a practicality conditioned by experience of worthy
manufacture in Birmingham. As Hermsprong also emphasizes, Bage is determined to uphold the propriety of hard
work and the right use of earned wealth in opposition to inherited privilege. Essentially, he looks to a future,
American-style property-owning democracy, the values of which will be determined by men of sense and not men of
rank (though this premiss is partly undermined in Hermsprong by the final revelation that its supposedly ‘savage’
American hero is in fact an English aristocrat!). Bage is no sansculotte, but he does identify the ills of present society
with its hierarchical composition and he also firmly recognizes that sexual egalitarianism must form a part of the
process of human liberation.

Holcroft’s Anna St Ives (1792) is a witty and various epistolary novel, one which shows its debts to Richardson in
its scenes of confinement and in the threatened rape of its abducted title character. Anna is courted by two men, rivals
contrasted by birth, station, and literary style. Frank Henley, the practically educated son of an upwardly-mobile
gardener, expresses himself ‘frankly’. Coke Clifton has a very different, rakish, inflated style which plays with Latin
tags and affects a restless desperation. Clifton is, however, no Lovelace despite his emotional lurches between wrath
and regret, convention and excess. Henley, of course, wins the battle for the intelligent Anna’s hand. The novel’s
discursive development also allows for some pointed asides concerning the ‘barbarity’ of the Europe of the ancien
régime. Holcroft’s second revolutionary novel, The Adventures of Hugh Trevor (1794), was published in the year in
which its author spent some eight weeks in Newgate prison on an indictment for high treason (he was acquitted
without any charge being preferred). Hugh Trevor is a Bildungsroman which traces the unsteady fortunes of its
narrator and a destiny which is almost Hardyan in its unhappiness. All occasions seem to inform against him, and his
splenetic denunciations of the corruptions of the Church, the Law, and the State suggest a real bitterness founded on
experience. Despite its occasional sensationalism (as when Hugh finds himself, by accident, in an anatomist’s cadaver
store) the novel provides a generally effective criticism of the body politic. Holcroft’s plays, Duplicity (1781), Love’s
Frailties (1794), and the once popular The Road to Ruin (1792), are equally sprinkled with aspersions concerned with
the injustice of a hierarchical society (appropriately enough, it was he who adapted Beaumarchais’s The Marriage of
Figaro for the English stage in 1784). His posthumously published memoirs (1816), which describe his early
struggles against poverty and rejection, later moved Charles Dickens to express the hope that his own autobiography
(had he ever finished it) might one day stand on the same shelf.
      </div>
      <br>
      <div id="demo"></div>
<script>
    var text = document.getElementById('text').innerHTML
    var tx = text.toString()
    var patt = /[^\.](\w\n\w+)/g
    // var patt2 = /[^\.](\w\b\w+)/g
    var punto = /(\.\n\n)/g
    var t = text.replace(punto, ".<br><br>")
    var res = t.replace(patt, " ")
    // var res = t.replace(patt, patt2)
    document.getElementById('demo').innerHTML = res
</script>      
</body>
</html>