{% extends 'base.html' %}
{% load static %}

{% block content %}
<main class="l-main">
  <!-- HOME -->
      <div class="home__data">
          <h1 class="home__title">INTERLINGO</h1>
          <h1 class="home__title2">INTERLINGO</h1>
          <h3 class="home__subtitle">THE LANGUAGE TOOL.</h3>
          <p class="home__text">Dictionary, tanslation device 
              and a help for all the lovers of languages in the 
              world. </br>
              For both amateurs and professionals.</p>
              <div class="home__button">
                  <button href="#" type="button" class="home__tryB" data-toggle="modal" data-target="#myModal">
                      Try Interlingo for free
                  </button>
                  <a href="#" class="home__howB">
                      <i class='bx bx-play-circle'></i>
                      How It Works</a>
              </div>  
      </div>

  <!-- TEXT -->
  <section class="text bd-grid" id="text">
      <div class="text__data">
          <h1 class="text__title">Your texts</h1>
          <h3 class="text__subtitle">Upload ANY text and the magic starts.</h3>
          <p class="text__text">Create your own profile and help 
              the community to build a collective dictionary, 
              in order to find always the right word to use.</p>
                  <button type="button" class="text__seeB button" data-toggle="modal" data-target="#myModal">
                      See how it works
                  </button>
      </div>
  </section>

  <!-- FILE -->
  <div class="file_section" id="file">
      <div class="file_texts">
          <p class="file_text">Post and review your work anytime.
              Follow other people and find every day something new.</p>
          <p class="file_text">Interlingo is a simple platform that 
              helps you collect texts and document in order to help 
              you collect the reading list of your dream.</p>
      </div>
        <h3 class="file_phrase"><u>Some Projects</u></h3>

          <div class="file_container">
          {% for obj in object_list %}
                {% for cat in obj.categories.all %}
                <div class="{{ cat }}">
                <a class="a_files"  href="#">{{ cat }}</a>
                {% endfor %}
                  <div class="file_cont">
                      <h4 class="file_info">{{ obj.title }}</h4>
                      <hr>
                      <h4 class="file_info">{{ obj.author }}</h4>
                  </div>
                  <h6 class="file_name">{{ obj.user.username }}</h6>
                </div>
          {% endfor %}
          </div>

          <button type="button" class="file_otherB" onclick="window.location.href='view.html'">
            OTHER TEXTS
          </button>
                  
  </div>

  <!-- LESSONS -->
  <section class="lessons" id="lessons">
      <div class="lessons__data bd-grid">
          <h1 class="lessons__title">lessons </br>
              <u>Bored of pdf AND PAPER?</u>
          </h1>
          <h3 class="lessons__subtitle">As an educator you will 
              be always on top of the class.</h3>
          <p class="lessons__text">Create a private class 
              and start you lesson!</p>
                  <button type="button" class="lessons__contactB button" data-toggle="modal" data-target="#myModal">
                      Contact us
                  </button>
      </div>
  </section>

  <!-- LESSONS -->
  <section class="trans" id="trans">
      <div class="trans__data bd-grid">
          <h1 class="trans__title">TRANSLATION</h1>
          <h3 class="trans__subtitle">FOLLOW </br>
              YOUR FLOW</h3>
          <p class="trans__text">With a private database for 
              your text and style you can choose the right formula 
              that make your text unique.</p>
                  <button type="button" class="trans__contactB button" data-toggle="modal" data-target="#myModal">
                      Prove it
                  </button>
      </div>
  </section>
</main>
   
    <!-- Newsletter Section
    <section class="newsletter no-padding-top">    
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <h2>Subscribe to Newsletter</h2>
            <p class="text-big">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          </div>
          <div class="col-md-8">
            <div class="form-holder">
              <form action="." method="POST">
                {% csrf_token %}
                <div class="form-group">
                  <input type="email" name="email" id="email" placeholder="Type your email address">
                  <button type="submit" class="submit">Subscribe</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>-->
    
{% endblock content%}    