{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}

<form method='POST' action="." enctype="multipart/form-data"> {%csrf_token %}
    <h2>  <p style="text-align: center;">{{ title }}</h2></p>
    <div class="row">
        <div class="col-3">
          {{ form.title|as_crispy_field }}
        </div>
        <div class="col-3">
          {{ form.subtitle|as_crispy_field }}
        </div>
        <div class="col-3">
          {{ form.author|as_crispy_field }}
        </div>
        <div class="col-3">
          {{ form.categories|as_crispy_field }}
        </div>
        <div class="col-3">
          {{ form.firstchapter|as_crispy_field }}
        </div>
        <div class="col-3">
          {{ form.nocopy|as_crispy_field }}
        </div>
        <div class="col-3">
          {{ form.chapter|as_crispy_field }}
        </div>
      </div>
      {{ form.text|as_crispy_field }}
      <div class="col-6">
        {{ form.previous_post|as_crispy_field }}
      </div>
      <div class="col-6">
        {{ form.next_post|as_crispy_field }}
      </div>
    <button type='submit' class='btn btn-secondary'>{% if btn_label %} Salva {% endif %}</button>

</form>

{% endblock content %}