@font-face {
	font-family: N2;
	src: url(../font/futura-book-cufonfonts/Futura-Book.woff);
  }

  @font-face {
	font-family: N1;
	src: url(../font/gotham-black-cufonfonts/GothaProReg.woff);
  }

  /* @font-face {
	font-family: home;
	src: url(../font/cooper-black-cufonfonts/COOPBL.woff);
  } */

  @font-face {
	font-family: home;
	src: url(../font/gotham-black-cufonfonts/GothaProBla.woff);
  }

  @font-face {
	font-family: Titolo;
	src: url(../font/times-sans-cufonfonts/Times\ Sans.woff);
  }

  @font-face {
	font-family: Sottotitolo;
	src: url(../font/times-sans-serif-cufonfonts/TIMESS__.woff);
  }

  @font-face {
	font-family: Titolo2;
	src: url(../font/modern-no-20-cufonfonts/MOD20.woff);
  }

  @font-face {
	font-family: Sottotitolo2;
	src: url(../font/modern-sans-cufonfonts/MODERNE\ SANS.woff);
  }

  @font-face {
	font-family: Label2;
	src: url(../font//franklin-gothic-book-cufonfonts/FRABK.woff);
  }

  @font-face {
	font-family: Label;
	src: url(../font/gotham-black-cufonfonts/GothaProBol.woff);
  }

  .myP::selection {
	background: cadetblue;
	color: whitesmoke;
  }
  .myP::-moz-selection {
	background: cadetblue;
	color: whitesmoke;
  }  

div{			
	font-size: 15px;
	color: black;
		}

		.no{
			color: black;
		}

		a{
			color: transparent;
		}

		a:hover{
			color: transparent;
		}
		a:visited {
			color: transparent;
		  }

		  a:active {
			color: transparent;
		  }

		.navbar{
			width: 100%;
			background-color: transparent;
			border: transparent;
			margin: 0 auto;
			height: auto;
		}

		h2, h3, h4{
			font-family: Titolo;
		}

		h5{
			font-family: Sottotitolo;
		}

		h6{
			font-family: N1;
		}

		.myP{
			/*font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;;
			*/
			/*font-family: futura;*/
			font-family: N1;
			text-align: justify;
 			text-justify: inter-word;
		}

		p.underline{
			margin-bottom: 0.5px;
		}

		div.text{
			margin: 0 auto;
			margin-bottom: 35%;
			margin-top: 5%;
		}

		 div.container{
			margin-top: -5%;
		} 
		.container-fluid{
			background-color:#292929; 
			width: 99%; 
			text-align: center;
			margin: 0 auto;
			height: auto;
			border-radius: .25em;
		}

		.btn{
			display: inline;
			font-size: 12px bold;
			line-height: 1;
			color: whitesmoke;
			text-align: center;
			font-weight: bold;
			/*vertical-align: baseline;*/
			border-radius: .25em;
			/*border-radius: 50%;*/
			/*border: 1px solid white;*/
		    background-color: cadetblue;
		    margin:1% auto;
		}
		.btn:hover{
			background-color: darkcyan;
			color: whitesmoke;
		}

		#btnphr{
			display: inline;
			font-size: 12px bold;
			line-height: 1;
			color: #292929;
			text-align: center;
			
			/*vertical-align: baseline;*/
			border-radius: .25em;
			/*border-radius: 50%;*/
			/*border: 1px solid white;*/
		    background-color: whitesmoke;
		    margin:1% auto;
		}
		#btnphr:hover{
			background-color: lightsalmon;
			color: white;
		}

		.highlight {background: lightsalmon; font-weight: bold; border-radius: .25em; color:whitesmoke;}

		#btnespr{
			display: inline;
			font-size: 12px bold;
			line-height: 1;
			color: #292929;
			text-align: center;
			text-decoration-line: underline;
 			text-decoration-style: wavy;
			 font-weight: bold;
			
			/*vertical-align: baseline;*/
			border-radius: .25em;
			/*border-radius: 50%;*/
			/*border: 1px solid white;*/
		    background-color: whitesmoke;
		    margin:1% auto;
		}
		#btnespr:hover{
			background-color: darkorange;
			color: white;
		}


		 u.imperativo{
			text-decoration: underline;
		  	-webkit-text-decoration-color: #696969; /* Safari */  
			  text-decoration-color: #696969;
			  border-bottom: 1px solid #696969;
		}

		u.futuro{
			text-decoration: underline;
		  	-webkit-text-decoration-color: #9ACD32; 
			  text-decoration-color: #9ACD32;
			  border-bottom: 1px solid #9ACD32;
		}

		u.condicional{
			text-decoration: underline;
		  	-webkit-text-decoration-color:rgb(10, 216, 216); 
			  text-decoration-color: rgb(10, 216, 216);
			  border-bottom: 1px solid rgb(10, 216, 216);
		}

		u.subjuntivo{
			text-decoration: underline;
		  	-webkit-text-decoration-color: #FFD700;
			  text-decoration-color: #FFD700;
			  border-bottom: 1px solid #FFD700;
		}

		u.indefinido{
			text-decoration: underline;
		  	-webkit-text-decoration-color: #FF4500;
			  text-decoration-color: #FF4500;
			  border-bottom: 1px solid #FF4500;
		}

		u.pluscuamperfecto{
		  text-decoration: underline;
		    -webkit-text-decoration-color: #ffb8b8;
			text-decoration-color: #ffb8b8;
			border-bottom: 1px solid #ffb8b8;
		}

		u.imperfecto{
		  text-decoration: underline;
		    -webkit-text-decoration-color: #546de5; 
			text-decoration-color: #546de5;
			border-bottom: 1px solid #546de5;
		}

		u.perfecto{
		  text-decoration: underline;
		    -webkit-text-decoration-color: #B33771; 
			text-decoration-color: #B33771;
			border-bottom: 1px solid #B33771;
		}

		/* Struttura, colore e allineamento del testo, border-radius */
		/*label-plus-pink*/
		.labelpluscuamperfecto {
			/*font-family: Label;*/
		  display: inline;
		  padding: .2em .6em .3em;
		  font-size: 80%;
		  font-weight: bold;
		  line-height: 1;
		  color: white;
		  text-align: center;
		  white-space: nowrap;
		  vertical-align: baseline;
		  border-radius: .25em;
		  background-color: #eb9a9a;
		}

		/*label-danger*/
		.labelindefinido {

			/*font-family: Label;*/
			display: inline;
			padding: .2em .6em .3em;
			font-size: 80%;
			font-weight: bold;
			line-height: 1;
			color: white;
			text-align: center;
			white-space: nowrap;
			vertical-align: baseline;
			border-radius: .25em;
			background-color: rgb(226, 62, 2);
		  }

		  /*label-default*/
		  .labelimperativo {
			/*font-family: Label;*/
			display: inline;
			padding: .2em .6em .3em;
			font-size: 80%;
			font-weight: bold;
			line-height: 1;
			color: white;
			text-align: center;
			white-space: nowrap;
			vertical-align: baseline;
			border-radius: .25em;
			background-color: #696969;
		  }

		  /*label-success*/
		  .labelfuturo {
			/*font-family: Label;*/
			display: inline;
			padding: .2em .6em .3em;
			font-size: 80%;
			font-weight: bold;
			line-height: 1;
			color: white;
			text-align: center;
			white-space: nowrap;
			vertical-align: baseline;
			border-radius: .25em;
			background-color: rgb(118, 177, 0);
		  }

		  /*label-info*/
		  .labelcondicional {
			/*font-family: Label;*/
			display: inline;
			padding: .2em .6em .3em;
			font-size: 80%;
			font-weight: bold;
			line-height: 1;
			color: white;
			text-align: center;
			white-space: nowrap;
			vertical-align: baseline;
			border-radius: .25em;
			background-color: rgb(39, 199, 199);
		  }

		  /*label-warning*/
		  .labelsubjuntivo {
			/*font-family: Label;*/
			display: inline;
			padding: .2em .6em .3em;
			font-size: 80%;
			font-weight: bold;
			line-height: 1;
			color: white;
			text-align: center;
			white-space: nowrap;
			vertical-align: baseline;
			border-radius: .25em;
			background-color: rgb(223, 189, 0);
		  }

		/*label-plus-blu*/
		.labelimperfecto {
			/*font-family: Label;*/
		  display: inline;
		  padding: .2em .6em .3em;
		  font-size: 80%;
		  font-weight: bold;
		  line-height: 1;
		  color: white;
		  text-align: center;
		  white-space: nowrap;
		  vertical-align: baseline;
		  border-radius: .25em;
		  background-color: #546de5;
		}

		/*label-plus-uva*/
		.labelperfecto{
			/*font-family: Label;*/
		  display: inline;
		  padding: .2em .6em .3em;
		  font-size: 80%;
		  font-weight: bold;
		  line-height: 1;
		  color: white;
		  text-align: center;
		  white-space: nowrap;
		  vertical-align: baseline;
		  border-radius: .25em;
		  background-color: #B33771;
		}
		

			/*Collapse*/
				#demo {
				    -webkit-transition: width 2s ease;
				    -moz-transition: width 2s ease;
				    -o-transition: width 2s ease;
				    transition: width 2s ease;
				    
				    display: inline-block;
				    overflow: hidden;
				    white-space: nowrap;
				    background: white;
				    vertical-align: middle;
				    line-height: 30px;
				    height: 30px;

				    width: 0px;
				}
				#demo.in {
				    width: 220px;
				}
			/*---------------- ENGLISH----------------*/

			u.progr{
				text-decoration-style: double;
				  -webkit-text-decoration-color: #696969; /* Safari */  
				  text-decoration-color: #696969;
				  border-bottom: 1px solid #696969;
			}
	
			u.fut{
				text-decoration-style: double;
				  -webkit-text-decoration-color: #9ACD32; 
				  text-decoration-color: #9ACD32;
				  border-bottom: 1px solid #9ACD32;
			}
	
			u.cond{
				text-decoration-style: double;
				  -webkit-text-decoration-color:rgb(10, 216, 216); 
				  text-decoration-color: rgb(10, 216, 216);
				  border-bottom: 1px solid rgb(10, 216, 216);
			}
	
			u.passive{
				text-decoration-style: double solid;
				  -webkit-text-decoration-color: #FFD700;
				  text-decoration-color: #FFD700;
				  border-bottom: 1px solid #FFD700;
			}
	
			u.presperfprogr{
				text-decoration-style: double;
				  -webkit-text-decoration-color: #FF4500;
				  text-decoration-color: #FF4500;
				  border-bottom: 1px solid #FF4500;
			}
	
			u.pastperf{
				text-decoration-style: double;
				-webkit-text-decoration-color: #ffb8b8;
				text-decoration-color: #ffb8b8;
				border-bottom: 1px solid #ffb8b8;
			}
	
			u.presperf{
				text-decoration-style: double;
				-webkit-text-decoration-color: #546de5; 
				text-decoration-color: #546de5;
				border-bottom: 1px solid #546de5;
			}
	
			u.pastperfprogr{
				text-decoration-style: double;
				-webkit-text-decoration-color: #B33771; 
				text-decoration-color: #B33771;
				border-bottom: 1px solid #B33771;
			}

			.idio{
				text-decoration-style:wavy;
				text-decoration-thickness: 2px;
				  -webkit-text-decoration-color: darkorange; 
				  text-decoration-color: darkorange;
				  text-decoration-line: underline;
			  }
	
			/* Struttura, colore e allineamento del testo, border-radius */
			/*label-plus-pink*/
			.labelpastperf {
				/*font-family: Label;*/
			  display: inline;
			  padding: .2em .6em .3em;
			  font-size: 80%;
			  font-weight: bold;
			  line-height: 1;
			  color: white;
			  text-align: center;
			  white-space: nowrap;
			  vertical-align: baseline;
			  border-radius: .25em;
			  background-color: #eb9a9a;
			}
	
			/*label-danger*/
			.labelpresperfprogr {
	
				/*font-family: Label;*/
				display: inline;
				padding: .2em .6em .3em;
				font-size: 80%;
				font-weight: bold;
				line-height: 1;
				color: white;
				text-align: center;
				white-space: nowrap;
				vertical-align: baseline;
				border-radius: .25em;
				background-color: rgb(226, 62, 2);
			  }
	
			  /*label-default*/
			  .labelprogressive {
				/*font-family: Label;*/
				display: inline;
				padding: .2em .6em .3em;
				font-size: 80%;
				font-weight: bold;
				line-height: 1;
				color: white;
				text-align: center;
				white-space: nowrap;
				vertical-align: baseline;
				border-radius: .25em;
				background-color: #696969;
			  }
	
			  /*label-success*/
			  .labelfuture {
				/*font-family: Label;*/
				display: inline;
				padding: .2em .6em .3em;
				font-size: 80%;
				font-weight: bold;
				line-height: 1;
				color: white;
				text-align: center;
				white-space: nowrap;
				vertical-align: baseline;
				border-radius: .25em;
				background-color: rgb(118, 177, 0);
			  }
	
			  /*label-info*/
			  .labelconditional {
				/*font-family: Label;*/
				display: inline;
				padding: .2em .6em .3em;
				font-size: 80%;
				font-weight: bold;
				line-height: 1;
				color: white;
				text-align: center;
				white-space: nowrap;
				vertical-align: baseline;
				border-radius: .25em;
				background-color: rgb(39, 199, 199);
			  }
	
			  /*label-warning*/
			  .labelpassive {
				/*font-family: Label;*/
				display: inline;
				padding: .2em .6em .3em;
				font-size: 80%;
				font-weight: bold;
				line-height: 1;
				color: white;
				text-align: center;
				white-space: nowrap;
				vertical-align: baseline;
				border-radius: .25em;
				background-color: rgb(223, 189, 0);
			  }
	
			/*label-plus-blu*/
			.labelpresperf {
				/*font-family: Label;*/
			  display: inline;
			  padding: .2em .6em .3em;
			  font-size: 80%;
			  font-weight: bold;
			  line-height: 1;
			  color: white;
			  text-align: center;
			  white-space: nowrap;
			  vertical-align: baseline;
			  border-radius: .25em;
			  background-color: #546de5;
			}
	
			/*label-plus-uva*/
			.labelpastperfprogr{
				/*font-family: Label;*/
			  display: inline;
			  padding: .2em .6em .3em;
			  font-size: 80%;
			  font-weight: bold;
			  line-height: 1;
			  color: white;
			  text-align: center;
			  white-space: nowrap;
			  vertical-align: baseline;
			  border-radius: .25em;
			  background-color: #B33771;
			}
			/* u{
				text-decoration-skip-ink: normal;
			} */

			.Tlink:hover{
				color:black;
			}
			.swiper-container {
				width: 96%;
				padding-bottom: 4%;
		  
			  }
			  .swiper-slide {
				text-align: center;
				font-size: 18px;
				height: 80%;
				/* Center slide text vertically */
				display: -webkit-box;
				display: -ms-flexbox;
				display: -webkit-flex;
				display: flex;
				-webkit-box-pack: center;
				-ms-flex-pack: center;
				-webkit-justify-content: center;
				justify-content: center;
				-webkit-box-align: center;
				-ms-flex-align: center;
				-webkit-align-items: center;
				align-items: center;
			  }
		  
			  /* .menuLogo{
				height: 20%;
				text-align: center;
				background-color: transparent;
				/* background-color:indianred; */
				/* background-color:orangered; */
				/* background-color:maroon; */
				/* background-color:firebrick; */
				/* background-color:darkred; */
				/* background-color:rgb(36, 36, 36); */
				/*-moz-border-radius: 10px;
				-webkit-border-radius: 10px;
				border-radius: 10px;
				margin: 3%;
			  } */
			  .menuLogo a{
				color:white;
			  }
			  .menuLogo{
				width: 84%;
				height: 20%;
				text-align: center;
				background-color: cadetblue; /*5f9ea0*/
				/* background-color:indianred; */
				/* background-color:orangered; */
				/* background-color:maroon; */
				/* background-color:firebrick; */
				/* background-color:darkred; */
				/* background-color:rgb(36, 36, 36); */
				-moz-border-radius: 10px;
				-webkit-border-radius: 10px;
				border-radius: 10px;
				transition-duration: 1ms;
				color: white;
				font-family: 'Impact';
				font-size: 20px;
				margin: 8%;
			  }
			  .blog{
				margin:2%;
				margin-right: 5%;
			  }
			  .gss{
				margin-right: 23%;
			  }
			  .learn{
				margin:2%;
				margin-left: 20%;
			  }
			  .contacts{
				margin:2%;
			  }
			  .aboutus{
				margin:2%;
			  }
			  .blog:hover{
				/* font-size: x-large; */
				color:cornsilk;
			  }
			  .gss:hover{
				color:cornsilk;    
			  }
			  .learn:hover{
				color:cornsilk;   
			   }
			  .contacts:hover{
				color:cornsilk;   
			   }
			  .aboutus:hover{
				color:cornsilk;   
			   }
		  
		  
			  .logo{
				width: 15%;
				height: 30%;
				position: absolute;
				left: 42.5%;
				padding: 1%;
				margin-top: -2.7%;;
				background-color: rgb(255, 255, 255);
				border-top-left-radius: 100%;
				border-top-right-radius: 100%;
				border-bottom-left-radius: 30%;
				border-bottom-right-radius: 30%;
				/* border:double rgb(35, 59, 52); */
			  }
		  
			  .menu{
				text-align: center;
			  }
		  
			  .cover{
				width: 100%;
				height: 100%;
			  }
			  .category{
				width: 99%;
				height: 12%;
				font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
				font-size: 16px;
				background-color:rgb(36, 36, 36);
				/* background-color: transparent; */
				color: rgb(255, 255, 255);
				text-rendering: optimizeLegibility;
				/* line-height: 0.5%; */
				/* border-top:solid 0.5px rgb(36, 36, 36);
				border-bottom:solid 0.5px rgb(36, 36, 36); */
				margin-left: 0.5%;
				margin-bottom: 2%;
				/* box-shadow: 3px 3px 5px #999; */
				border-radius:5px;
				line-height: 180%;
				 opacity: 0.6;
			  }
			  .other{
				float: right;
				margin-right: 2%;
				color: rgb(255, 255, 255);
				font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
				border-radius:5px;
				/* background-color: lightgrey; */
				font-size: 12px;
				width: 50px;
				height: 20px;
				text-align: center;
				line-height: 80%;
				margin-top: 1%;
				/* line-height: 0.5%; */
			  }
			  .cat-text{
				margin-left: 2%;
			  }
		  
			  .news{
				width: 100%;
				height: 100%;
				margin-top: 0.5%;
			  }
			  .stories{
				width: 100%;
				height: 100%;
			  }
		  
			  /* .info {
			padding: 20px;
			background-color: #2da1ff;
			color: white;
		  
		  } */
		  
		  .closebtn {
			margin-left: 15px;
			color: white;
			font-weight: bold;
			float: right;
			font-size: 50px;
			line-height: 20px;
			cursor: pointer;
			transition: 0.3s;
		  }
		  
		  .closebtn:hover {
			color: black;
		  }
		  
		  .question{
			  font-weight: 600;
		  }
		  .answers {
			margin-bottom: 20px;
		  }
		  .answers label{
			display: block;
		  }
		  #submit{
			  font-family: sans-serif;
			  font-size: 20px;
			  background-color: #279;
			  color: #fff;
			  border: 0px;
			  border-radius: 3px;
			  padding: 20px;
			  cursor: pointer;
			  margin-bottom: 20px;
		  }
		  #submit:hover{
			  background-color: #38a;
		  }
		  
		  .Q{
			  margin: 10%;
			  width: 80%;
			  text-align: center;
			  border: #38a;
			  border-style: double;
			  padding: 10%;
		  }
			  .circle{
				/* width: 500px;
				height: 500px; */
				border-color: maroon;
				border-radius: 100%;
				border-style: solid;
				color: black;
				line-height: 20px;
				width: 15%;
			  }
		  
			  .suggestion {
			  font-style: oblique;
			  cursor:help;
		  }
			